@font-face {
  font-family: "Futura PT";
  src: url(../fonts/FuturaPT-Bold.ttf), url(../fonts/FuturaPT-ExtraBold.ttf), url(../fonts/FuturaPTCond-Medium.ttf), url(../fonts/FuturaPT-Light.ttf);
}
.nav-side__block-text-1::before {
  content: url(../assets/house.svg);
  padding-right: 8px;
  margin-top: 5px;
}
.nav-side__block-flex-text-2::before {
  content: url(../assets/phone.svg);
  padding-right: 8px;
  margin-top: 5px;
}
.nav-side__block-flex-text-3::before {
  content: url(../assets/circle.svg);
  padding-right: 8px;
  margin-bottom: 5px;
}
.nav-side__block-flex-text-4::before {
  content: url(../assets/circle.svg);
  padding-right: 8px;
  margin-bottom: 5px;
}
.nav-side__block-flex-text-5::before {
  content: url(../assets/build.svg);
  margin-top: 5px;
  padding-right: 6px;
}
.navigation {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  position: relative;
  min-height: 61px;
}
.navigation__img {
  position: absolute;
  left: 65px;
}
.navigation__nav-list {
  list-style: none;
  margin-left: 358px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.navigation__nav-list-item > a {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
}
.navigation__nav-list-item-active > a::before {
  content: url(../assets/fish.svg);
  width: 0;
  height: 0;
  padding-right: 28px;
}
.navigation__nav-list-item-active-bar {
  margin-left: 163px;
}
.navigation__nav-list-item-active-bar > a::before {
  content: url(../assets/pet.svg);
  width: 0;
  height: 0;
  padding-right: 35px;
}

.section-hero {
  min-height: 924px;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: -100px;
}
.section-hero__flex-content {
  max-width: 608px;
  margin-top: 153px;
}
.section-hero__flex-content-title {
  margin-bottom: 29px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}
.section-hero__flex-content-title > span {
  color: #78c0de;
}
.section-hero__flex-content-subtitle {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-bottom: 38px;
}
.section-hero__flex-content-link {
  display: inline-block;
  padding: 16px 48px;
  background: #333333;
  border-radius: 3px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.section-information__flex {
  position: relative;
  max-width: 1134px;
  margin: 124px auto;
}
.section-information__flex::before, .section-information__flex::after {
  position: absolute;
}
.section-information__flex::before {
  content: url(../assets/image.png);
  left: 0;
  top: -35px;
}
.section-information__flex::after {
  content: url(../assets/image-1.png);
  right: 0;
  bottom: 35px;
}
.section-information__flex-title {
  position: relative;
  padding-top: 43px;
  padding-bottom: 43px;
  max-width: 753px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}
.section-information__flex-title::before, .section-information__flex-title::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 2px;
  background-color: #dbdbdb;
}
.section-information__flex-title::before {
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.section-information__flex-title::after {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.section-jobs__flex-title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
  text-align: center;
}
.section-jobs__flex-card-group {
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}
.section-jobs__flex-card-group::before, .section-jobs__flex-card-group::after {
  position: absolute;
}
.section-jobs__flex-card-group::before {
  content: url(../assets/Vector-left.svg);
  left: 0;
  top: 50%;
  transform: translate(0 -50%);
}
.section-jobs__flex-card-group::after {
  content: url(../assets/Vector-right.svg);
  right: 0;
  top: 50%;
  transform: translate(0 -50%);
}
.section-jobs__flex-card-group-item {
  width: 193px;
  background-color: #fff;
  min-height: 201px;
}
.section-jobs__flex-card-group-item-img img {
  display: block;
  margin-top: 30px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
}
.section-jobs__flex-card-group-item-title {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.section-testing__flex {
  min-height: 414px;
  border-radius: 0px 5px 5px 5px;
  background-color: #fff;
}
.section-testing__flex-img img {
  border-radius: 5px;
}
.section-testing__flex-row-content {
  max-width: 545px;
}
.section-testing__flex-row-content-h2 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
}
.section-testing__flex-row-content-paragraph {
  margin-top: 18px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.section-testing__flex-row-content-links {
  margin-top: 34px;
}
.section-testing__flex-row-content-links-btn-1 {
  background: #ffbd54;
  border-radius: 3px;
  padding: 16px 36px 16px 35px;
  text-decoration: none;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.section-testing__flex-row-content-links-btn-1::before {
  content: url(../assets/money.svg);
  vertical-align: middle;
  padding-right: 6px;
}
.section-testing__flex-row-content-links-btn-2 {
  background: #333333;
  border-radius: 3px;
  padding: 16px 36px 16px 35px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.section-testing__flex-row-content-links-btn-2::before {
  content: url(../assets/typing-vg.svg);
  vertical-align: middle;
  padding-right: 6px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-side__block-text-1, .nav-side__block-flex-text-2, .nav-side__block-flex-text-3, .nav-side__block-flex-text-4, .nav-side__block-flex-text-5, .nav-side__block-flex-text-6 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #f9f9f9;
}/*# sourceMappingURL=general.css.map */